:host {
  height: 100%;
}

main {
  height: 100%;
  margin: -8px;
}

.row {
  padding-left: 12px;
  cursor: pointer;

  &:hover {
    background: #f5f5f5;
  }

  &:last-child {
    border-bottom: 1px solid #f0f0f0;
  }
}
