nz-layout {
  height: 100dvh;
  background: #fff;
}

nz-header {
  flex: 0 0 auto;
  padding: 0 16px;
  color: #fff;
  background: #1890ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nz-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
